li.navitem, a.navitem {
    display: block;
    width: fit-content;
    background-color: indianred;
    color: black;
    list-style: none;
    text-decoration: none;

}

li.navitem:hover, a.navitem:hover {
    background-color: black;
    color: white;
}

li.navitem.active {
    background-color: gray;
}

header.header {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 0px;
    margin: 0px;
    background-color: indianred;
    border-radius: 4pt;
}

* {
    font-family: sans-serif;
}